html, body, .header {
	width: 100%;
	height: 100%;
}

.navbar {
	background-color: #333333;
	border: 0px;
}

.navbar, .navbar-nav {
	margin-bottom: 0px;
}

.navbar-nav {
	padding-bottom: 0px;
}

.nav > li > a:not(.text_link) {
	padding: 10px 15px;
}

.text-vertical-center {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	padding-bottom: 75px;
}

.text-vertical-center h1, .text-vertical-center h3, #back_to_top {
	color: #000000;
}

.text-vertical-center h1 {
	font-size: 6em;
	padding-bottom: 5px;
}

.text-vertical-center h3 {
	font-size: 1.25em;
	padding-bottom: 15px;
	letter-spacing: 3px;
	margin-top: 10px;
}

.header {
	position: relative;
}

#top {	
	background: url('NY_basketball_ct_OPTIMIZED.jpg') no-repeat center center scroll;
	border-bottom: 1px solid black;
}

#landing_page_elements {
	visibility: hidden;
}

#more_info {
	position: relative;
	height: 100%;
	width: 85%;
	margin-top: 10px;
	padding-top: 40px;
}

#more_info_background {
	background: url('NY_basketball_ct_upsidedown_blur_2_OPTIMIZED.jpg') no-repeat center center scroll;
}

#top, #more_info_background {
	background-size: cover;
}

#myName {
	font-family: "Impact", "Palatino Linotype", "Book Antiqua", Palatino, serif;
	letter-spacing: 5px;
	margin-top: 15px;
}

.circle {
	margin: 0 auto;
}

.header, #more_info, .circle {
	display: table;
}

.columnText {
	text-align: justify;
	font-size: 1.5em;
	color: #FFFFFF;
	margin-top: 10px;
}

/*For proper alignment of input fields in modal form*/
.input-group[class*="col-"] {
	padding-right: 15px;
	padding-left: 15px;
}

.popover {
	background-color: #E74C3C;
	color: #ECF0F1;
	width: 120px;
}

.popover.right .arrow:after {
	border-right-color: #E74C3C;
}

#info_plus_menu {
	padding-bottom: 50px;
	-webkit-filter: brightness(40%) contrast(70%);
	-moz-filter: brightness(40%) contrast(70%);
}

#back_to_top {
	font-size: 1.5em;
}
